#!/bin/sh
[ -z "$RECORD_IP" ] && RECORD_IP=`curl -s http://169.254.169.254/latest/meta-data/public-ipv4`
[ -z "$RECORD_IP" -o "not found" = "$RECORD_IP" ] && RECORD_IP=`curl -s icanhazip.com`

{{ range $REQUESTED, $CONTAINERS := groupByMulti $ "Env.REQUEST_DNS_REGISTER" "," }}
{{ range $CONTAINER := $CONTAINERS }}
CMD="cli53 rrcreate $ZONE {{ $Env.VIRTUAL_HOST }} A $RECORD_IP --ttl 15 --replace"
if [ -z "$DRY_RUN" ]; then
  echo "$CMD" >> /var/log/route53-registrar.log
  $CMD >> /var/log/route53-registrar.log 2>&1
else
  echo "DRYRUN: $CMD"
fi
{{ end }}
{{ end }}
